node_modules/
artifacts/
cache/
.cache/
.home/
.DS_Store
*.zip
are-you-a-blockchain-developer/
are-you-a-blockchain-developer-final FA-submission/
organized-submission/
organized-submission 2/
evidence/
